body {
	margin-top: 1.0em;
	background-color: #fff;
	font-family: Helvetica, Arial, FreeSans, san-serif;
	color: #000000;
	font-size: 80%;
}
.mapa {
	/*width: 2400px;*/
	height: 1000px;
	/*overflow: hidden;*/
	position: relative;
	cursor: move;
	transform: translate3d(-200px,-200px,0) 
}
.map_faseA{
	top: -800px;
	left: -100px;
	width: 2480px;
	height: 3508px;
	position: absolute;
	overflow: hidden;

	background-image:url(mc1.jpg) ;
	background-repeat:no-repeat;
	background-position:center;
	background-color:transparent;
	border-color:#999;

	-webkit-transform: rotate(283deg);
	-moz-transform: rotate(283deg);
	-ms-transform: rotate(283deg);
	-o-transform: rotate(283deg);
	transform: rotate(283deg);

	background-size:100% 100%;
	-webkit-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	-khtml-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
}
.map_faseB{
	top: -635px;
	left: -420px;
	width: 2480px;
	height: 3508px;
	position: absolute;
	overflow: hidden;
	
	background-image:url(mc2.jpg) ;
	background-repeat:no-repeat;
	background-position:center;
	background-color:transparent;
	border-color:#999;
	
	-webkit-transform: rotate(264.4deg);
	-moz-transform: rotate(264.4deg);
	-ms-transform: rotate(264.4deg);
	-o-transform: rotate(264.4deg);
	transform: rotate(264.4deg);

	background-size:122% 122%;
	-webkit-background-size: 122% 122%;
	-o-background-size: 122% 122%;
	-khtml-background-size: 122% 122%;
	-moz-background-size: 122% 122%;
}

.casa{
	left: 565px;
	position: absolute;
	top: 176px;
	z-index: 999;
	width: 55px;
	height: 200px;
	cursor: pointer;
} 

.c1, .c2, .c3, .c4, .c5, .c6, .c7, .c8{
	background-color: #000000;
	border: 1px solid #000000;
	position: absolute;
}
.c1{
	height: 1px;
	top: 10px;
	width: 50px;
}
.c2{
	height: 189px;
	left: 52px;
	top: 10px;
	width: 1px;
}
.c3{
	height: 1px;
	left: 10px;
	top: 198px;
	width: 42px;
}
.c4{
	height: 43px;
	left: 10px;
	top: 156px;
	width: 1px;
}
.c5{
	height: 1px;
	left: 0;
	top: 156px;
	width: 8px;
}
.c6{
	height: 144px;
	left: 0;
	top: 10px;
	width: 1px;
}
.c7{
	height: 148px;
	left: 0;
	top: 10px;
	width: 50px;
	display: none;
}
.c8{
	height: 40px;
	left: 11px;
	top: 158px;
	width: 40px;
	display: none;
}


.poste, .luminaria{
	border-radius:50%;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	height: 23px;
	width: 20px;
	position: absolute;
	border: 1px solid #000000;
	padding-left: 10px;
	padding-top: 5px;
	z-index: 99;
	cursor: pointer;
	background: url("idea-256.png") no-repeat scroll 5px 2px / 70% 70% #FFFF00;
}

.luminaria{
	background: url("light-bulb-idea-icon-light-bulb-7.png") no-repeat scroll 5px 3px / 70% 70% #FF9900;
}

.opcoes{
	position: fixed;
	z-index: 9999;
	padding: 5px;
	margin-left: -20px;
}

input, button {
	 height: 2em;
	 padding: 0 0.5em 0.2em;
}
button{ height:2.4em; }

.ui-dialog { z-index: 9999 !important ;}
.zoom{ 
	width:70%;
	margin-left:50px;
	margin-top:-28px; 
}